<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipse.core.runtime.xml"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
      
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.eclipse.lsp4e.xml.XMLLanguageServer"
            id="org.eclipse.lsp4e.xml"
            label="XML Language Server" 
            serverInterface="toremove.org.eclipse.lsp4e.operations.folding.XMLLanguageServerInterface">            
      </server>
      <contentTypeMapping
            contentType="org.eclipse.core.runtime.xml"
            id="org.eclipse.lsp4e.xml">
      </contentTypeMapping>
   </extension>

   <extension
         point="org.eclipse.ui.genericeditor.foldingReconcilers">
      <foldingReconciler
            class="toremove.org.eclipse.lsp4e.operations.folding.LSPFoldingReconciler"
            contentType="org.eclipse.core.runtime.text">
         <enabledWhen>
            <with
                  variable="editorInput">
               <test
                     property="org.eclipse.lsp4e.hasLanguageServer">
               </test>
            </with>
         </enabledWhen>
      </foldingReconciler>
   </extension>
   
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="./syntaxes/xml.tmLanguage.json"
            scopeName="text.xml">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.core.runtime.xml"
            scopeName="text.xml">
      </scopeNameContentTypeBinding>
   </extension>

   <extension
         point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration
            contentTypeId="org.eclipse.core.runtime.xml"
            path="language-configurations/xml.language-configuration.json">
      </languageConfiguration>
   </extension>

   <extension
         point="org.eclipse.tm4e.ui.snippets">
      <snippet
            name="XML Sample"
            path="snippets/sample.xml"
            scopeName="text.xml">
      </snippet>
   </extension>

   <!-- XSL -->

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xsl"
            id="org.eclipse.lsp4e.xsl"
            name="XSL"
            priority="normal"/>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipse.lsp4e.xsl"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>

   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="./syntaxes/xsl.tmLanguage.json"
            scopeName="text.xml.xsl">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.lsp4e.xsl"
            scopeName="text.xml.xsl">
      </scopeNameContentTypeBinding>
   </extension>

   <extension
         point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration
            contentTypeId="org.eclipse.lsp4e.xsl"
            path="language-configurations/xsl.language-configuration.json">
      </languageConfiguration>
   </extension>

   <!-- XSD -->

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xsd"
            id="org.eclipse.lsp4e.xsd"
            name="XSD"
            priority="normal"/>
   </extension>

   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="./syntaxes/xml.tmLanguage.json"
            scopeName="text.xml">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.lsp4e.xsd"
            scopeName="text.xml">
      </scopeNameContentTypeBinding>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipse.lsp4e.xsd"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   
</plugin>
